.footer {
  // margin-top: auto;
  padding: 15px;
  background-color: $accentColor;
  min-height: 100px;
  @media screen and (max-width: $breakpoint480) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.footer__title {
  font-size: 21px;
  font-weight: 700;
  line-height: 2;
  padding: 5px;
  display: inline-block;
  color: $whiteColor;
  border: 3px $accentColor2 dotted;
  border-radius: 10px;
  transition: all $standart-transition-time $standart-transition-style;
  &:hover {
    transform: translate(5px, -5px);
    background-color: $accentColor3;
    color: $whiteColor;
  }
  @media screen and (max-width: $breakpoint768) {
    font-size: 15px;
  }
  @media screen and (max-width: $breakpoint480) {
    font-size: 13px;
  }
}
