// Breakpoints

$breakpoint320: 320px;
$breakpoint480: 480px;
$breakpoint480: 768px;
$breakpoint1200: 1200px;

// Colors

// Other

.container {
  padding: 0 5px;

  @media screen and (min-width: $breakpoint480) {
    padding: 0 15px;
    width: 450px;
  }
  @media screen and (min-width: $breakpoint768) {
    width: 738px;
  }
  @media screen and (min-width: $breakpoint1200) {
    width: 1170px;
  }
}
